<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="padding: 16px !important;">
        <form [formGroup]="operatingParameterUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Serial Number" formControlName="serialNumber" readonly>          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Month" formControlName="month" required>
                      <mat-option *ngFor="let obj of months" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker1" placeholder="Date of Invoice" formControlName="dateOfInvoice" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <!-- <mat-form-field fxFlex="50">
                    <input matInput placeholder="Year" formControlName="year" maxlength="4">          
                </mat-form-field> -->
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker2" placeholder="Date of Payment Receipt" formControlName="dateOfPaymentReceipt" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Export Net Generation (Million Units)" formControlName="exportNetGeneration" maxlength="4">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="CO2 Emision" formControlName="carbonDiOxideEmission" maxlength="10">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="PLF CUF Actual (%age)" formControlName="plfCufActual" maxlength="10">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Water Saved" formControlName="waterSaved" maxlength="10">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Applicable Tarrif " formControlName="applicableTariff" maxlength="3">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Water Saved" formControlName="revenue" maxlength="10">          
                </mat-form-field>
            </div>

            <!-- <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Remarks" formControlName="remarks" maxlength="200">          
                </mat-form-field>
            </div> -->

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Design PLF CUF" formControlName="designPlfCuf" maxlength="50">          
                </mat-form-field>
                <!-- <mat-form-field fxFlex="50">
                    <input matInput placeholder="Actual Yearly Average (PLF CUF)" formControlName="actualYearlyAveragePlfCuf" maxlength="50">          
                </mat-form-field> -->
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Document Type" formControlName="documentType" required>
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.code">
                        {{ documentType.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Document Title" formControlName="documentTitle" maxlength="100">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <div fxFlex="50">
                    <div fxLayout="column">
                        <label for="document">Upload Document (PDF)</label>
                        <input type="file" name="file" (change)="onFileSelect($event)" accept="application/pdf" id="document"/>
                    </div>
                </div>
                <div fxFlex="50">
                    <a [href]="getFileURL(selectedOperatingParameter.fileReference)" *ngIf="selectedOperatingParameter.fileReference !== ''">
                        <mat-icon>cloud_download</mat-icon>
                    </a>
                </div>
            </div>
            
            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeClick()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
