<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="addLFAReportAndFee()" 
                [disabled]="selectedLFA.id == ''"> 
            Add Report For LFA 
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateLFAReportAndFee()" 
                [disabled]="!selectedLFAReportAndFee"> 
            Modify Report For LFA
        </button>
    </div>
    <div class="mat-table-container" mat-white-bg style="width: 100%">
        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

            <!-- serialNumber Column -->
            <ng-container matColumnDef="serialNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.serialNumber }}</p>
                </mat-cell>
            </ng-container>
            
            <!-- reportType Column -->
            <ng-container matColumnDef="reportType">
                <mat-header-cell *matHeaderCellDef mat-sort-header >ReportType</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ getReportType(obj.lfaReportAndFee.reportType) }}</p>
                </mat-cell>
            </ng-container>

            <!-- dateOfReceipt Column -->
            <ng-container matColumnDef="dateOfReceipt">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Date Of Receipt</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.dateOfReceipt | date: 'dd/MM/yyyy' }}</p>
                </mat-cell>
            </ng-container>

            <!-- invoiceDate Column -->
            <ng-container matColumnDef="invoiceDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Invoice Date</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.invoiceDate | date: 'dd/MM/yyyy' }}</p>
                </mat-cell>
            </ng-container>

            <!-- invoiceNo Column -->
            <ng-container matColumnDef="invoiceNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Invoice Number</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.invoiceNo }}</p>
                </mat-cell>
            </ng-container>

            <!-- feeAmount Column -->
            <ng-container matColumnDef="feeAmount">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Fee Amount</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.feeAmount }}</p>
                </mat-cell>
            </ng-container>
            
            <!-- statusOfFeeReceipt Column -->
            <ng-container matColumnDef="statusOfFeeReceipt">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Fee Receipt Status</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.statusOfFeeReceipt == 0? 'Yes' : 'No' }}</p>
                </mat-cell>
            </ng-container>

            <!-- statusOfFeePaid Column -->
            <ng-container matColumnDef="statusOfFeePaid">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Fee Paid Status</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.statusOfFeePaid == 0? 'Yes' : 'No' }}</p>
                </mat-cell>
            </ng-container>

            <!-- documentTitle Column -->
            <ng-container matColumnDef="documentTitle">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Document Title</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.documentTitle }}</p>
                </mat-cell>
            </ng-container>

            <!-- nextReportDate Column -->
            <ng-container matColumnDef="nextReportDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Next Report Date</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lfaReportAndFee.nextReportDate }}</p>
                </mat-cell>
            </ng-container>

            <!-- download Column -->
            <ng-container matColumnDef="download">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <a [href]="getFileURL(obj.lfaReportAndFee.fileReference)" *ngIf="obj.lfaReportAndFee.fileReference !== ''">Download</a>
                </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.lfaReportAndFee)"
                [ngClass]="{'highlight':obj.lfaReportAndFee === selectedLFAReportAndFee}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
