<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateOperatingParameterPLF('addOperatingParameterPLF')"> 
            Add Operating Parameter PLF
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateOperatingParameterPLF('updateOperatingParameterPLF')"
                    [disabled]="!selectedOperatingParameterPLF"> 
            Modify Operating Parameter PLF
        </button>
    </div>

    <div class="mat-table-container" mat-white-bg style="width: 100%">

        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

            <!-- serialNumber Column -->
            <ng-container matColumnDef="serialNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameterPLF.serialNumber }}</p>
                </mat-cell>
            </ng-container>
            
            <!-- year Column -->
            <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Year</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameterPLF.year }}</p>
                </mat-cell>
            </ng-container>

            <!-- plfCufActual Column -->
            <ng-container matColumnDef="actualYearlyAveragePlfCuf">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Average PLF/CUF</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameterPLF.actualYearlyAveragePlfCuf | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- remarks Column -->
            <ng-container matColumnDef="remarks">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Remarks</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameterPLF.remarks }}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            
            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.operatingParameterPLF)"
                [ngClass]="{'highlight':obj.operatingParameterPLF === selectedOperatingParameterPLF}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
