<div id="tickers" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate h4 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center"
            *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
            Loan Monitoring : {{ selectedEnquiry.loanContractId }} / {{ selectedEnquiry.borrowerName }}
            <br>
            Status: {{ loanMonitor?.workFlowStatusDescription }}
        </div>
        <!-- / BREADCRUMB -->
        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button class="mr-8 mb-8" (click)="sendMonitoringForApproval()" [disabled]="(loanMonitor == undefined || loanMonitor == null || 
                    loanMonitor.workFlowStatusCode === 2) || disableSendForApproval === true">
                <mat-icon matSuffix class="mr-8">check</mat-icon>Send for Approval
            </button>
        </div>
        <!-- / TOOLBAR -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-16">

        <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
            <mat-expansion-panel [expanded]="expandPanel1" hideToggle="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Enquiry Details
                    </mat-panel-title>
                </mat-expansion-panel-header>            
                <form [formGroup]="selectedEnquiryForm">
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="BP Code" formControlName="busPartnerNumber" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Location (State)" formControlName="projectLocationState" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Type" formControlName="projectType" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Class" formControlName="loanClassDescription" readonly>          
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Capacity" formControlName="projectCapacity" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Type of Assistance" formControlName="assistanceTypeDescription" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Cost" formControlName="projectCost" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Amount Requested" formControlName="loanAmount" readonly>          
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Financing Type" formControlName="financingTypeDescription" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Lead FI" formControlName="leadFI" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Stage" formControlName="stage" readonly>          
                        </mat-form-field>
                    </div>
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="expandPanel2" hideToggle="false" class="mt-16">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Other Details
                    </mat-panel-title>
                </mat-expansion-panel-header>               
                <form [formGroup]="boardApprovalDetailsForm">
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Board Meeting Number" formControlName="boardMeetingNumber" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Board Approval Date" formControlName="boardApprovalDate" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Number" formControlName="loanNumber" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Sanction Letter Date" formControlName="sanctionLetterDate" readonly>          
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Documentation Date" formControlName="loanDocumentationDate" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="1st Disbn Date" formControlName="firstDistributionDate" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Sanction Amount" formControlName="sanctionAmount" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Disbursement Status" formControlName="discributionStatus" readonly>          
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Scheduled COD" formControlName="scheduledCOD" readonly>          
                        </mat-form-field>
                    </div>
                </form>
            </mat-expansion-panel>
        </div>

        <mat-tab-group class="mt-16">

            <mat-tab label="LIE Details">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-lie-list></fuse-lie-list>
                </div>
            </mat-tab>

            <mat-tab label="LFA Details">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-lfa-list></fuse-lfa-list>
                </div>
            </mat-tab>

            <mat-tab label="TRA Statement">         
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-tra-list></fuse-tra-list>
                </div>
            </mat-tab>
            
            <mat-tab label="T&C Modification">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-tandc-list></fuse-tandc-list>
                </div>
            </mat-tab>

            <mat-tab label="Security Compliance">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-security-compliance-list></fuse-security-compliance-list>
                </div>
            </mat-tab>

            <mat-tab label="Site Visit">          
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-site-visit-list></fuse-site-visit-list>
                </div>
            </mat-tab>

            <mat-tab label="Operating Parameters">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-operating-parameter-list></fuse-operating-parameter-list>
                </div>
            </mat-tab>

            <mat-tab label="Rate of Interest">            
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-rate-of-interest-list></fuse-rate-of-interest-list>
                </div>
            </mat-tab>

            <mat-tab label="Borrower Financials">           
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-borrower-financials-list></fuse-borrower-financials-list>
                </div>
            </mat-tab>

            <mat-tab label="Promoter Financials">           
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-promoter-financials-list></fuse-promoter-financials-list>
                </div>
            </mat-tab>

            <mat-tab label="Financial Covenants">        
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-financial-covenants-list></fuse-financial-covenants-list>
                </div>
            </mat-tab>

            <mat-tab label="Promoter Details">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-promoter-details-list></fuse-promoter-details-list>
                </div>
            </mat-tab>
        
            <mat-tab label="Project Monitoring">
                <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-project-monitoring-data-item-list></fuse-project-monitoring-data-item-list>
                </div>
            </mat-tab>
        </mat-tab-group>
        <!-- / CONTENT -->
    </div>
</div>
