<div id="tickers" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate h1 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center"
            *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
            Loan Monitoring : {{ selectedEnquiry.enquiryNumber }} / {{ selectedEnquiry.createdOn }} / {{ selectedEnquiry.borrowerName }}
        </div>
        <!-- / BREADCRUMB -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-16">

        <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
            <mat-expansion-panel [expanded]="expandPanel1" hideToggle="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Enquiry Details
                    </mat-panel-title>
                </mat-expansion-panel-header>            
                <form [formGroup]="selectedEnquiryForm">
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="BP Code" formControlName="busPartnerNumber" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Location (State)" formControlName="projectLocationState" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Type" formControlName="projectType" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Class" formControlName="loanClassDescription" readonly>          
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Capacity" formControlName="projectCapacity" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Type of Assistance" formControlName="assistanceTypeDescription" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Project Cost" formControlName="projectCost" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Amount Requested" formControlName="loanAmount" readonly>          
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Financing Type" formControlName="financingTypeDescription" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Lead FI" formControlName="leadFI" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Stage" formControlName="stage" readonly>          
                        </mat-form-field>
                    </div>
                </form>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="expandPanel2" hideToggle="false" class="mt-16">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Other Details
                    </mat-panel-title>
                </mat-expansion-panel-header>               
                <form [formGroup]="boardApprovalDetailsForm">
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Board Meeting Number" formControlName="boardMeetingNumber" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Board Approval Date" formControlName="boardApprovalDate" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Number" formControlName="loanNumber" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Sanction Letter Date" formControlName="sanctionLetterDate" readonly>          
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Loan Documentation Date" formControlName="loanDocumentationDate" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="1st Disbn Date" formControlName="firstDistributionDate" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Sanction Amount" formControlName="sanctionAmount" readonly>          
                        </mat-form-field>
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Disbursement Status" formControlName="discributionStatus" readonly>          
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <mat-form-field fxFlex="25">
                            <input matInput placeholder="Scheduled COD" formControlName="scheduledCOD" readonly>          
                        </mat-form-field>
                    </div>
                </form>
            </mat-expansion-panel>
        </div>

        <mat-tab-group class="mt-16">

            <!-- LIE Details Tab - Starts Here -->
            <mat-tab label="LIE Details">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="addLIE()"> Add LIE </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateLIE()" [disabled]="selectedLIE.id == ''"> Modify LIE </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-lie-list [lieList]="lieList"></fuse-lie-list>
                </div>

                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="addLIEReportAndFee()" 
                            [disabled]="selectedLIE.id == ''"> 
                        Add Report For LIE 
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateLIEReportAndFee()" 
                            [disabled]="selectedLIEReportAndFee.id == ''"> 
                        Modify Report For LIE 
                    </button>
                </div>
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-lie-report-fee-list [lieReportAndFeeList]="lieReportAndFeeList"></fuse-lie-report-fee-list>
                </div>
            </mat-tab>
            <!-- LIE Details Tab - Ends Here -->

            <!-- LFA Details Tab - Starts Here -->
            <mat-tab label="LFA Details">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="addLFA()"> Add LFA </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateLFA()" [disabled]="selectedLFA.id == ''"> Modify LFA </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-lfa-list [lfaList]="lfaList"></fuse-lfa-list>
                </div>

                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="addLFAReportAndFee()" 
                            [disabled]="selectedLFA.id == ''"> 
                        Add Report For LFA 
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateLFAReportAndFee()" 
                            [disabled]="selectedLFAReportAndFee.id == ''"> 
                        Modify Report For LFA
                    </button>
                </div>
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-lfa-report-fee-list [lfaReportAndFeeList]="lfaReportAndFeeList"></fuse-lfa-report-fee-list>
                </div>
            </mat-tab>
            <!-- LFA Details Tab - Ends Here -->

            <!-- TRA Details Tab - Starts Here -->
            <mat-tab label="TRA Statement">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="addTRA()"> Add TRA </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateTRA()" [disabled]="selectedTRA.id == ''"> Modify TRA </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-tra-list [traList]="traList"></fuse-tra-list>
                </div>

                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateTRAStatement('addTRAStatement')" 
                            [disabled]="selectedTRA.id == ''"> 
                        Add TRA Statement
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateTRAStatement('updateTRAStatement')" 
                            [disabled]="selectedTRAStatement.id == ''"> 
                        Modify TRA Statement
                    </button>
                </div>
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-tra-statement-list [traStatementList]="traStatementList"></fuse-tra-statement-list>
                </div>
            </mat-tab>
            <!-- TRA Details Tab - Ends Here -->
            
            <!-- Terms & Conditions Modification Tab - Starts Here -->
            <mat-tab label="T&C Modification">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateTermsAndConditions('addT&C')"> 
                        Add New T&C 
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateTermsAndConditions('updateT&C')" 
                            [disabled]="selectedTandC.id == ''"> 
                        Modify T&C 
                    </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-tandc-list [tandcList]="tandcList"></fuse-tandc-list>
                </div>
            </mat-tab>
            <!-- Terms & Conditions Modification Tab - Ends Here -->

            <!-- Security Compliance Tab - Starts Here -->
            <mat-tab label="Security Compliance">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateSecurityCompliance('addSecurityCompliance')"> 
                        Add New Security
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateSecurityCompliance('updateSecurityCompliance')" 
                            [disabled]="selectedSecurityCompliance.id == ''"> 
                        Modify Security
                    </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-security-compliance-list [securityComplianceList]="securityComplianceList"></fuse-security-compliance-list>
                </div>
            </mat-tab>
            <!-- Security Compliance Tab - Ends Here -->            

            <!-- Site Visit Tab - Starts Here -->
            <mat-tab label="Site Visit">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateSiteVisit('addSiteVisit')"> 
                        Add New Site Visit
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateSiteVisit('updateSiteVisit')" 
                            [disabled]="selectedSiteVisit.id == ''"> 
                        Modify Site Visit
                    </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-site-visit-list [siteVisitList]="siteVisitList"></fuse-site-visit-list>
                </div>
            </mat-tab>
            <!-- Site Visit Tab - Ends Here -->

            <!-- Rate of Interest Tab - Starts Here -->
            <mat-tab label="Rate of Interest">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateRateOfInterest('addRateOfInterest')"> 
                        Add New Rate of Interest
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateRateOfInterest('updateRateOfInterest')" 
                            [disabled]="selectedRateOfInterest.id == ''"> 
                        Modify Rate of Interest
                    </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-rate-of-interest-list [rateOfInterestList]="rateOfInterestList"></fuse-rate-of-interest-list>
                </div>
            </mat-tab>
            <!-- Rate Of Interest Tab - Ends Here -->

            <!-- Borrower Financials Tab - Starts Here -->
            <mat-tab label="Borrower Financials">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateBorrowerFinancials('addFinancials')"> 
                        Add New Financial Details
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateBorrowerFinancials('updateFinancials')" 
                            [disabled]="selectedBorrowerFinancials.id == ''"> 
                        Modify Financial Details
                    </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-borrower-financials-list [borrowerFinancialsList]="borrowerFinancialsList"></fuse-borrower-financials-list>
                </div>
            </mat-tab>
            <!-- Borrower Financials Tab - Ends Here -->

            <!-- Promoter Financials Tab - Starts Here -->
            <mat-tab label="Promoter Financials">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updatePromoterFinancials('addFinancials')"> 
                        Add New Financial Details
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updatePromoterFinancials('updateFinancials')" 
                            [disabled]="selectedPromoterFinancials.id == ''"> 
                        Modify Financial Details
                    </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-promoter-financials-list [promoterFinancialsList]="promoterFinancialsList"></fuse-promoter-financials-list>
                </div>
            </mat-tab>
            <!-- Promoter Financials Tab - Ends Here -->

            <!-- Financial Covenants Tab - Starts Here -->
            <mat-tab label="Financial Covenants">
                <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateFinancialCovenants('addFinancialCovenants')"> 
                        Add New Financial Covenant
                    </button>
                    <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateFinancialCovenants('updateFinancialCovenants')" 
                            [disabled]="selectedFinancialCovenants.id == ''"> 
                        Modify Financial Covennat
                    </button>
                </div>            
                <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
                    <fuse-financial-covenants-list [financialCovenantsList]="financialCovenantsList"></fuse-financial-covenants-list>
                </div>
            </mat-tab>
            <!-- Financial Covenants Tab - Ends Here -->

        </mat-tab-group>
        <!-- / CONTENT -->
    </div>
</div>
