<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updatePromoterDetails('addPromoterDetails')"> 
            Add New Promoter Details
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updatePromoterDetails('updatePromoterDetails')" 
                [disabled]="!selectedPromoterDetailsItem"> 
            Modify Promoter Details
        </button>
    </div>
    <div class="content-card mat-white-bg mat-elevation-z4 p-16" fusePerfectScrollbar style="width: 100%">
        <form [formGroup]="promoterHeaderDetailsForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput [matDatepicker]="picker1" placeholder="Date of Change" formControlName="dateOfChange" readonly required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Group Exposure" formControlName="groupExposure" maxlength="100">          
                </mat-form-field>
            </div>
        </form>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="savePromoterHeaderDetails()"> 
            Save
        </button>
    </div>
    <div class="mat-table-container mt-16" mat-white-bg style="width: 100%">
        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>
            
            <!-- serialNumber Column -->
            <ng-container matColumnDef="serialNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.serialNumber }}</p>
                </mat-cell>
            </ng-container>

            <!-- shareHoldingCompany Column -->
            <ng-container matColumnDef="shareHoldingCompany">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Shareholding Company</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.shareHoldingCompany }}</p>
                </mat-cell>
            </ng-container>

            <!-- paidupCapitalEquitySanction Column -->
            <ng-container matColumnDef="paidupCapitalEquitySanction">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Paid up Capital (Sanction)</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.paidupCapitalEquitySanction | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- paidupCapitalEquityCurrent Column -->
            <ng-container matColumnDef="paidupCapitalEquityCurrent">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Paid up Capital (Current)</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.paidupCapitalEquityCurrent | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- equityLinkInstrumentSanction Column -->
            <ng-container matColumnDef="equityLinkInstrumentSanction">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Equity Link Instrument (Sanction)</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.equityLinkInstrumentSanction | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- equityLinkInstrumentCurrent Column -->
            <ng-container matColumnDef="equityLinkInstrumentCurrent">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Equity Link Instrument (Current)</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.equityLinkInstrumentCurrent | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            
            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj)"
                [ngClass]="{'highlight':obj === selectedPromoterDetailsItem}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
