<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({ 'refresh': false })" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="padding: 16px !important;">
        <form [formGroup]="operatingParameterPLFUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Serial Number" formControlName="serialNumber" readonly>          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Year" formControlName="year" maxlength="4">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Actual Yearly Average (PLF CUF)" formControlName="actualYearlyAveragePlfCuf" maxlength="10">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Remarks" formControlName="remarks" maxlength="200">          
                </mat-form-field>
            </div>
         
            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="_dialogRef.close({ 'refresh': false })">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
