<div id="tickers" class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- BREADCRUMB -->
    <div class="breadcrumb text-truncate h1 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center"
         *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
      Email Repository Viewer
    </div>
    <!-- / BREADCRUMB -->

  </div>


  <!-- SEARCH PANEL -->
  <div id="mail-repo-search" class="w-100-p p-16" fxLayout="column" fusePerfectScrollbar>

    <mat-expansion-panel [expanded]="expandPanel" hideToggle="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search Emails
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="emailSearchForm">
        <div fxLayout="row">
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Recepient Mail Id" formControlName="toAddress">
          </mat-form-field>
          <mat-form-field fxFlex="25">
            <input matInput   [matDatepicker]="pickerFrom"  placeholder="Date From" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="25">
            <input matInput   [matDatepicker]="pickerTo"  placeholder="Date To" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="pt-12" fxLayout="row" fxLayoutAlign="left center">
          <button class="mr-8" mat-raised-button type="button" color="accent" (click)="searchMailObjects()">
            Search
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </div>

  <!-- / SEARCH PANEL -->

  <!-- / SEARCH Results-->

  <div class="mat-table-container" style="width: 100%">
    <!-- <mat-table class="enquiries-table" #table [dataSource]="dataSource" *fuseIfOnDom [@animateStagger]="{value:'50'}" fusePerfectScrollbar> -->
    <mat-table class="emails-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

      <!-- Id -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="10">Id</mat-header-cell>
        <mat-cell *matCellDef="let mailObject" fxFlex="10">
          <p class="text-truncate">{{ mailObject.id}}</p>
        </mat-cell>
      </ng-container>

      <!-- To Address -->
      <ng-container matColumnDef="toAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20">Recepient</mat-header-cell>
        <mat-cell *matCellDef="let mailObject" fxFlex="20">
          <p class="text-truncate">{{ mailObject.toAddress}}</p>
        </mat-cell>
      </ng-container>


      <!-- Date -->
      <ng-container matColumnDef="dateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">Date&Time</mat-header-cell>
        <mat-cell *matCellDef="let mailObject"fxFlex="10">
          <p class="text-truncate">{{ mailObject.dateTime }}</p>
        </mat-cell>
      </ng-container>

      <!-- Subject -->
      <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40">Subject</mat-header-cell>
        <mat-cell *matCellDef="let mailObject" fxFlex="40">
          <p class="text-truncate">{{ mailObject.subject }}</p>
        </mat-cell>
      </ng-container>
      <!-- sendingApp  -->
      <ng-container matColumnDef="sendingApp">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">Sending Application</mat-header-cell>
        <mat-cell *matCellDef="let mailObject"fxFlex="10">
          <p class="text-truncate">{{ mailObject.sendingApp  }}</p>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <!--<mat-row *matRowDef="let mailObject; columns: displayedColumns;" class="mailObject" matRipple-->
               <!--(click)="onSelect(mailObject)"-->
               <!--[ngClass]="{'mat-light-blue-50-bg':mailObject == selectedMailObject}"-->
               <!--[@animate]="{value:'*',params:{y:'100%'}}">-->
      <!--</mat-row>-->

      <mat-row *matRowDef="let mailObject; columns: displayedColumns;" class="mailObject" matRipple
               (click)="openSnackBar(mailObject.mailContent, mailObject.toAddress)"
               [ngClass]="{'mat-light-blue-50-bg':mailObject == selectedMailObject}"
               [@animate]="{value:'*',params:{y:'100%'}}">
      </mat-row>


    </mat-table>


    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

  </div>

</div>
