<div id="email-repository" class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- BREADCRUMB -->
    <div class="breadcrumb text-truncate h1 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center"
         *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
      Email Repository Viewer
    </div>
    <!-- / BREADCRUMB -->

  </div>
  <!-- SEARCH PANEL -->
  <div id="mail-repo-search" class="w-100-p p-16" fxLayout="column" fusePerfectScrollbar>

    <mat-expansion-panel [expanded]="expandPanel" hideToggle="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search Emails
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="emailSearchForm">
        <div fxLayout="row">
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Recepient Mail Id" formControlName="toAddress">
          </mat-form-field>
          <mat-form-field fxFlex="25">
            <input matInput [matDatepicker]="pickerFrom" placeholder="Date From" formControlName="dateFrom">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="25">
            <input matInput [matDatepicker]="pickerTo" placeholder="Date To" formControlName="dateTo">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="pt-12" fxLayout="row" fxLayoutAlign="left center">
          <button class="mr-8" mat-raised-button type="button" color="accent" (click)="searchMailObjects()">
            Search
          </button>
        </div>
      </form>
    </mat-expansion-panel>
  </div>

  <div class="mat-table-container" style="width: 100%">

    <div>
      <table mat-table
             [dataSource]="dataSource" multiTemplateDataRows
             class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}}</th>
          <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <div class="example-element-position"> {{element.id}}</div>
                <div class="example-element-symbol"> {{element.toAddress}}</div>
                <div class="example-element-name"> {{element.dateTime}}</div>
                <div class="example-element-weight"> {{element.subject}}</div>
                <div class="example-element-weight"> {{element.sendingApp}}</div>
              </div>
              <div class="example-element-description">
                {{element.mailContent}}
                <span class="example-element-description-attribution">   </span>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

    </div>
  </div>
</div>
