<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>
        <form [formGroup]="financialsUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Fiscal Year" formControlName="fiscalYear">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker2" placeholder="Date of External Rating" formControlName="dateOfExternalRating">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Turnover" formControlName="turnover">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker3" placeholder="Next Due Date of External Rating" formControlName="nextDueDateOfExternalRating">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="PAT" formControlName="pat">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Overall Rating" formControlName="overAllRating">          
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeClick()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
