<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="ml-8 mr-8 btn" mat-raised-button color="accent" (click)="openUpdateDialog('addSyndicateConsortium')"> 
            Add Syndicate Consortium 
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="openUpdateDialog('modifySyndicateConsortium')" 
                [disabled]="!selectedSyndicateConsortium"> 
            Modify Syndicate Consortium 
        </button>
    </div> 
               
    <div class="mat-table-container mat-white-bg" style="width: 100%">

        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

            <!-- serialNumber Column -->
            <ng-container matColumnDef="serialNumber">
                <mat-header-cell *matHeaderCellDef>Sl No.</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.serialNumber }}</p>
                </mat-cell>
            </ng-container>
            
            <!-- sanctionedAmount Column -->
            <ng-container matColumnDef="sanctionedAmount">
                <mat-header-cell *matHeaderCellDef>Sanctioned Amt</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.sanctionedAmount | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>
            
            <!-- currency Column -->
            <ng-container matColumnDef="currency">
                <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.currency }}</p>
                </mat-cell>
            </ng-container>

            <!-- lead Column -->
            <ng-container matColumnDef="lead">
                <mat-header-cell *matHeaderCellDef>Lead</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.lead == 'true' ? 'Yes' : 'No' }}</p>
                </mat-cell>
            </ng-container>

            <!-- approvalStatus Column -->
            <ng-container matColumnDef="approvalStatus">
                <mat-header-cell *matHeaderCellDef>Approval Status</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ getApprovalStatus(obj.approvalStatus) }}</p>
                </mat-cell>
            </ng-container>

            <!-- documentStage Column -->
            <ng-container matColumnDef="documentStage">
                <mat-header-cell *matHeaderCellDef>Document Stage</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.documentStage }}</p>
                </mat-cell>
            </ng-container>

            <!-- disbursementStatus Column -->
            <ng-container matColumnDef="disbursementStatus">
                <mat-header-cell *matHeaderCellDef>Disbursement Status</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ getDisbursementStatus(obj.disbursementStatus) }}</p>
                </mat-cell>
            </ng-container>

            <!-- disbursedAmount Column -->
            <ng-container matColumnDef="disbursedAmount">
                <mat-header-cell *matHeaderCellDef>Disbursed Amount</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.disbursedAmount | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onRowSelect(obj)"
                [ngClass]="{'highlight':obj.id === selectedSyndicateConsortium?.id}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
