<div id="loan-enquiry" class="w-100-p p-16" fxLayout="column" fusePerfectScrollbar>

  <div class="horizontal-stepper-wrapper">

    <mat-horizontal-stepper class="mat-elevation-z2" [linear]="true" #stepper>

      <!-- PROJECT DETAILS STEP -->
      <mat-step [stepControl]="loanEnquiryFormStep1">

        <form [formGroup]="loanEnquiryFormStep1">

          <ng-template matStepLabel>Project Details</ng-template>

          <div fxLayout="row">
            <mat-form-field fxFlex="60">
              <input matInput placeholder="Project Name" formControlName="projectName" required>
              <mat-error>
                Provide valid input for Project Name
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="40">
              <mat-select placeholder="Project Type" formControlName="projectType" required>
                <mat-option> </mat-option>
                <mat-option *ngFor="let projectType of projectTypes" [value]="projectType.code">
                  {{ projectType.value }}
                </mat-option>
              </mat-select>
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <mat-select placeholder="Loan Class" formControlName="loanClass" required>
                <mat-option> </mat-option>
                <mat-option *ngFor="let loanClass of loanClasses" [value]="loanClass.code">
                  {{ loanClass.value }}
                </mat-option>
              </mat-select>
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <mat-select placeholder="Financing Type" formControlName="financingType" required>
                <mat-option> </mat-option>
                <mat-option *ngFor="let financingType of financingTypes" [value]="financingType.code">
                  {{ financingType.value }}
                </mat-option>
              </mat-select>
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="20">
              <input matInput placeholder="Project Capacity" formControlName="projectCapacity">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>


            <mat-form-field fxFlex="14">
              <mat-select placeholder="Units" formControlName="projectCapacityUnit">
                <mat-option> </mat-option>
                <mat-option *ngFor="let unitOfMeasure of unitOfMeasures" [value]="unitOfMeasure.code">
                  {{ unitOfMeasure.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div fxLayout="row">

            <mat-form-field fxFlex="33">
              <mat-select placeholder="Type of Assistance" formControlName="assistanceType">
                <mat-option> </mat-option>
                <mat-option *ngFor="let assistanceType of assistanceTypes" [value]="assistanceType.code">
                  {{ assistanceType.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput type="number" placeholder="Tenor of Loan (Years)" formControlName="tenorYear"
                     required>
              <mat-error>
                Provide numeric input b/w 1 and 99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput type="number" placeholder="(Months)" formControlName="tenorMonth" required>
              <mat-error>
                Provide numeric input b/w 1 and 11
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="50">
              <mat-select placeholder="Project Location - State" formControlName="projectLocationState" required>
                <mat-option> </mat-option>
                <mat-option *ngFor="let state of states" [value]="state.code">
                  {{ state.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="50">
              <input matInput placeholder="Project District" formControlName="projectDistrict" required>
            </mat-form-field>


          </div>

          <div fxLayout="row">

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Project Cost (in Crores)" formControlName="projectCost">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput type="number" placeholder="Project Equity Amt.(in Crores)" formControlName="equity">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput type="number" placeholder="Project Debt Amount (in Crores)"
                     formControlName="projectDebtAmount">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">


            <mat-form-field fxFlex="33">
              <input matInput type="number" placeholder="Loan Application Amt./PFS Debt Amount (in Crores)" formControlName="pfsDebtAmount"
                     required>
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput type="number" placeholder="Expected Sub Debt If Any (in Crores)"
                     formControlName="expectedSubDebt">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput type="number" placeholder="PFS Sub Debt If Any (in Crores)"
                     formControlName="pfsSubDebtAmount">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="100">
              <input matInput placeholder="Purpose of Loan" formControlName="loanPurpose" required>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="25">
              <input matInput placeholder="Lead FI Name" formControlName="leadFIName">
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <input matInput type="number" placeholder="Lead FI Loan Amount (in Crores)"
                     formControlName="leadFILoanAmount">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <input matInput placeholder="Expected Rate of Interest (%)" formControlName="expectedInterestRate">
              <mat-error>
                Provide numeric input b/w 1 and 99.99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <input matInput readonly [matDatepicker]="picker" [min]="minDate" placeholder="Scheduled COD"
                     formControlName="scheduledCOD">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="pt-12" fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button matStepperNext type="button" color="accent">
              Next
            </button>
            <button mat-raised-button type="button" color="accent">
              Clear
            </button>
          </div>

        </form>

      </mat-step>

      <!-- BORROWER DETAILS STEP -->
      <mat-step [stepControl]="loanEnquiryFormStep2">

        <form [formGroup]="applicantEmailFormGroup" >
          <div fxLayout="row" fxFlex="100">
            <mat-form-field fxFlex="100"  *ngIf="isCurrentUserAdmin()">
              <input matInput
                     (blur)="validateUserId($event)"
                     (keyup.enter)="validateUserId($event)"
                     (keyup.tab)="validateUserId($event)"
                     (change)="validateUserId($event)"
                     placeholder="Select Applicant"
                     disabled="isCurrentUserAdmin()"
                     aria-label="Select Applicant"
                     [matAutocomplete]="auto"
                     [formControl]="applicantEmailFormControl">
              <mat-autocomplete #auto="matAutocomplete">

                <mat-option *ngFor="let state of applicantEmailFilteredOptions | async" [value]="state.email">
                  <span>{{state.email}}</span> |
                  <small>Name & Address : {{state.nameAndAddress}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </form>


        <form [formGroup]="loanEnquiryFormStep2">

          <ng-template matStepLabel>Borrower Details</ng-template>

          <div fxLayout="row">
            <mat-form-field fxFlex="100">
              <!--<input matInput  (onblur)="onKeyUp($event)"  (keyup)="onKeyUp($event)" class="form-control"-->

              <input matInput
                     (blur)="validateUserId($event)"
                     (keyup.enter)="validateUserId($event)"
                     (keyup.tab)="validateUserId($event)"
                     type="email" readonly
                     placeholder="Applicant's Registered Email"
                     formControlName="email"
                     required>

              <mat-error>
                 Email id is not registered as user of the portal. Enter a valid user of a customer or create a portal user for the new customer with the required email id.
              </mat-error>

            </mat-form-field>

          </div>


          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Organization Name/ First Name" formControlName="partyName1"
                     required>
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput placeholder="Other Name/ Last Name" formControlName="partyName2" >
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Contact Person" formControlName="contactPersonName" required>
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Door Number" formControlName="addressLine1" maxlength="10">
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput placeholder="Address" formControlName="addressLine2">
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Street Name" formControlName="street" maxlength="40">
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="City" formControlName="city" required maxlength="40">
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <mat-select placeholder="State" formControlName="state" required>
                <mat-option> </mat-option>
                <mat-option *ngFor="let state of states" [value]="state.code">
                  {{ state.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Postal Code" formControlName="postalCode" maxlength="6"
                     required>
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">

            <mat-form-field fxFlex="34">
              <input matInput placeholder="Contact Number" formControlName="contactNumber" required>
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="PAN Number" formControlName="pan" maxlength="10" required>
              <mat-error>
                Provide valid input (Uppercase text and numeric only)
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Group Company (if any)" formControlName="groupCompany">
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <mat-select placeholder="Industry Sector" formControlName="industrySector" required>
                <mat-option *ngFor="let industrySector of industrySectors" [value]="industrySector.code">
                  {{ industrySector.value }}
                </mat-option>
              </mat-select>
              <mat-error>
                Provide valid input
              </mat-error>
            </mat-form-field>


          </div>



          <div class="pt-12" fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
              Previous
            </button>
            <button class="mr-8" mat-raised-button matStepperNext type="button" color="accent">
              Next
            </button>
            <button mat-raised-button type="button" color="accent">
              Clear
            </button>
          </div>
        </form>

      </mat-step>

      <!-- PROMOTER DETAILS STEP -->
      <mat-step [stepControl]="loanEnquiryFormStep3">

        <form [formGroup]="loanEnquiryFormStep3">

          <ng-template matStepLabel>Promoter & Contact Details</ng-template>

          <div class="h2">Contact Details</div>
          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Branch Address" formControlName="contactBranchAddress">
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput type="text" placeholder="Designation" formControlName="contactDesignation">
              <mat-error>
                Enter the designation
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput type="text" placeholder="Department" formControlName="contactDepartment">
              <mat-error>
              </mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput type="text" placeholder="Mobile" formControlName="contactTelePhone">
              <mat-error>
                Enter the designation
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput type="text" placeholder="Land Line" formControlName="contactLandLinePhone">
              <mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput placeholder="Email" formControlName="contactEmail" type="email" maxlength="200">
              <mat-error>
              </mat-error>
            </mat-form-field>
          </div>


          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput type="text" placeholder="FAX Number" formControlName="contactFaxNumber">
              <mat-error>
                Enter the designation
              </mat-error>
            </mat-form-field>

          </div>

          <div class="h2">Promoter Details</div>

          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput placeholder="Promoter Name" formControlName="promoterName">
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Key Promoter" formControlName="promoterKeyDirector">
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput placeholder="Area of Business & Nature" formControlName="promoterAreaOfBusinessNature">
            </mat-form-field>
          </div>


          <div fxLayout="row">
            <mat-form-field fxFlex="33">
              <input matInput type="number" placeholder="Net Worth in Cr" formControlName="promoterNetWorthAmount">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput type="number" placeholder="PAT in Cr" formControlName="promoterPATAmount">
              <mat-error>
                Provide numeric input b/w 1 and 9999.99
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="33">
              <input matInput placeholder="Rating" formControlName="rating" type="number" maxlength="3">
              <mat-error>
                Provide a maximum value of 100
              </mat-error>
            </mat-form-field>
          </div>

          <div class="pt-12" fxLayout="row" fxLayoutAlign="center center">
            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
            <!--<button class="mr-8" mat-raised-button type="button" color="accent" (click)="backButtonClick()">-->
              Back
            </button>
            <button class="mr-8" mat-raised-button matStepperNext type="button" color="accent">
              Next
            </button>
            <button mat-raised-button type="button" color="accent">
              Clear
            </button>
          </div>

          <!--<div class="pt-24" fxLayout="row" fxLayoutAlign="center center">-->
            <!--<button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">-->
              <!--Previous-->
            <!--</button>-->
            <!--<button mat-raised-button matStepperNext type="button" color="accent">-->
              <!--Next-->
            <!--</button>-->
          <!--</div>-->

        </form>

      </mat-step>

      <!-- DONE STEP -->
      <mat-step>

        <ng-template matStepLabel>Done</ng-template>

        <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
          Thank your for filling out the details. Please click on Finish to submit.
        </div>

        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
            Previous
          </button>
          <button mat-raised-button type="button" color="accent" (click)="saveLoanApplication(stepper)">
            Finish
          </button>
        </div>

      </mat-step>

    </mat-horizontal-stepper>

  </div>

</div>
