.mat-select-panel {
    max-height: 390px !important;
}
.basic-container .mat-step-header .mat-step-icon-selected {
  background-color: #6cb73a;
  color: #fff;
}

.mat-step-header .mat-step-icon {
  background-color: rgba(255, 140, 0, 1.0);
  color: #fff;
}
.mat-step-header .mat-step-icon-selected {
  background-color: green;
}

.mat-select-class {
  font: mat-font-size(10);

}


.mat-option {
  height: 25px;
  font-size: 12px;
}
