<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="ml-8 mr-8 btn" mat-raised-button color="accent" (click)="updateProjectMonitoringData()"> 
            Modify
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="getHistory()" 
                [disabled]="!selectedProjectMonitoringDataItem"> 
            View History
        </button>
    </div>
    <div class="mat-table-container" style="width: 100%">

        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

            <!-- description Column -->
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Particulars</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.description }}</p>
                </mat-cell>
            </ng-container>

            <!-- dateOfEntry Column -->
            <ng-container matColumnDef="dateOfEntry">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Date</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.dateOfEntry | date: 'dd/MM/yyyy' }}</p>
                </mat-cell>
            </ng-container>      

            <!-- originalData Column -->
            <ng-container matColumnDef="originalData">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Original Data</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.originalData }}</p>
                </mat-cell>
            </ng-container>

            <!-- revisedData1 Column -->
            <ng-container matColumnDef="revisedData1">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Revised Data - 1</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.revisedData1 }}</p>
                </mat-cell>
            </ng-container>

            <!-- revisedData2 Column -->
            <ng-container matColumnDef="revisedData2">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Revised Data - 2</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.revisedData2 }}</p>
                </mat-cell>
            </ng-container>

            <!-- remarks Column -->
            <ng-container matColumnDef="remarks">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Remarks</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.remarks }}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            
            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj)"
                [ngClass]="{'highlight':obj === selectedProjectMonitoringDataItem}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
