<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>
        <form [formGroup]="securityComplianceUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Particulars (Collateral Object Type)" formControlName="collateralObjectType" 
                            (selectionChange)="getCollateralAgreementTypes($event)" required>
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let obj of collateralObjectTypes" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="34">
                    <mat-select placeholder="Type of Security" formControlName="collateralAgreementType" required>
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let obj of collateralAgreementTypes" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Security Type Desc" formControlName="collateralAgreementTypeDescription">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Timelines" formControlName="timelines">          
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <mat-select placeholder="Applicability" formControlName="applicability" required>
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let obj of applicability" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="33">
                    <input matInput [matDatepicker]="picker1" placeholder="Date of Creation" formControlName="dateOfCreation">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Value (if any)" formControlName="value">          
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput [matDatepicker]="picker2" placeholder="Validity Date" formControlName="validityDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput [matDatepicker]="picker3" placeholder="Date of Sec Perfection" formControlName="securityPerfectionDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker> 
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Action Period" formControlName="actionPeriod">
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let obj of actionPeriods" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="No. of Days" formControlName="numberOfDays">          
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Action Period Suffix" formControlName="actionPeriodSuffix">
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let obj of actionPeriodSuffixes" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <mat-select placeholder="Event Type" formControlName="eventType">
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let obj of eventTypes" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="34">
                    <input matInput [matDatepicker]="picker4" placeholder="Event Date" formControlName="eventDate">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker> 
                </mat-form-field>            
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Validity Period" formControlName="validityPeriod">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Location" formControlName="location">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Remarks" formControlName="remarks">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Additional Text" formControlName="additionalText">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Real Estate (Land Area)" formControlName="realEstateLandArea">          
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <mat-select placeholder="Area (Unit of Measure)" formControlName="areaUnitOfMeasure">
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let obj of unitOfMeasures" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="No. Of Units of Security" formControlName="securityNoOfUnits">          
                </mat-form-field>
                <mat-form-field fxFlex="34">
                    <input matInput placeholder="Face Value" formControlName="securityFaceValueAmount">          
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Holding &" formControlName="holdingPercentage">          
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeClick()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
