<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateRateOfInterest('addRateOfInterest')"> 
            Add New Rate of Interest
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateRateOfInterest('updateRateOfInterest')" 
                [disabled]="!selectedRateOfInterest"> 
            Modify Rate of Interest
        </button>
    </div> 
    <div class="mat-table-container" mat-white-bg style="width: 100%">
        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

            <ng-container matColumnDef="serialNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.rateOfInterest.serialNumber }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="conditionType">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Condition Type</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ getConditionType(obj.rateOfInterest.conditionType) }}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="validFromDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Valid From Date</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.rateOfInterest.validFromDate }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="interestTypeIndicator">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Fixed or Ref. Int Rate</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.rateOfInterest.interestTypeIndicator }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="referenceInterestRate">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Reference Rate</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ getReferenceInterestRate(obj.rateOfInterest.referenceInterestRate) }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="refInterestSign">
                <mat-header-cell *matHeaderCellDef mat-sort-header >+/- Sign Ref Int Rate</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.rateOfInterest.refInterestSign }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="interestRate">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Interest Rate</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.rateOfInterest.interestRate }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="calculationDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Calc Date</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.rateOfInterest.calculationDate }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="dueDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Due Date</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.rateOfInterest.dueDate }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="interestPaymentFrequency">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Int Payment Frequency</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.rateOfInterest.interestPaymentFrequency }}</p>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="paymentForm">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Payment Form</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ getPaymentForms(obj.rateOfInterest.paymentForm) }}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            
            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.rateOfInterest)"
                [ngClass]="{'highlight':obj.rateOfInterest === selectedRateOfInterest}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>
</div>
