<div class="mat-table-container" style="width: 100%">

    <mat-table class="users-table" #table [dataSource]="dataSource" *fuseIfOnDom [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <!-- firstName Column -->
        <ng-container cdkColumnDef="firstName">
            <mat-header-cell *cdkHeaderCellDef>Firstname</mat-header-cell>
            <mat-cell *cdkCellDef="let user">
                <p class="text-truncate">{{ user.firstName }}</p>
            </mat-cell>
        </ng-container>

        <!-- lastName Column -->
        <ng-container cdkColumnDef="lastName">
            <mat-header-cell *cdkHeaderCellDef>Lastname</mat-header-cell>
            <mat-cell *cdkCellDef="let user">
                <p class="text-truncate">{{ user.lastName }}</p>
            </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container cdkColumnDef="email">
            <mat-header-cell *cdkHeaderCellDef>Email</mat-header-cell>
            <mat-cell *cdkCellDef="let user">
                <p class="text-truncate">{{ user.email }}</p>
            </mat-cell>
        </ng-container>

        <!-- role Column -->
        <ng-container cdkColumnDef="role">
            <mat-header-cell *cdkHeaderCellDef>Role</mat-header-cell>
            <mat-cell *cdkCellDef="let user">
                <p class="text-truncate">{{ user.role }}</p>
            </mat-cell>
        </ng-container>

        <!-- sapBPNumber Column -->
        <ng-container cdkColumnDef="sapBPNumber">
            <mat-header-cell *cdkHeaderCellDef>SAP BP Code</mat-header-cell>
            <mat-cell *cdkCellDef="let user">
                <p class="text-truncate">{{ user.sapBPNumber }}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let user; columns: displayedColumns;" class="user" matRipple (click)="onSelect(user)"
            [ngClass]="{'mat-light-blue-50-bg':user == selectedUser}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>

    <!--mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"></mat-paginator-->
</div>