<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="enquiry/assets/images/logos/PFS_Logo.jpeg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to PTC India Financial Services Portal.
        </div>

        <!-- <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
            vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
        </div> -->

    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="enquiry/assets/images/logos/PFS_Logo.jpeg">
            </div>

            <div class="title">Change your password as it was reset !</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field mb-16>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                    <mat-error *ngIf="forgotPasswordForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('password').hasError('pattern')">
                        Should contain minimum 8 digits (1 upper case, 1 lower case, 1 digit and 1 special character)
                    </mat-error>
                </mat-form-field>

                <mat-form-field mt-16>
                    <input matInput type="password" placeholder="Password (Confirm)" formControlName="passwordConfirm">
                    <mat-error *ngIf="forgotPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!forgotPasswordForm.get('passwordConfirm').hasError('required') &&
                    forgotPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        [disabled]="forgotPasswordForm.invalid" (click)="submit()">
                    Update Password
                </button>

            </form>

        </div>
    </div>
</div>
