<div class="mat-table-container" fusePerfectScrollbar>

    <!-- <mat-table class="enquiries-table" #table [dataSource]="dataSource" *fuseIfOnDom [@animateStagger]="{value:'50'}" fusePerfectScrollbar> -->
    <mat-table class="enquiries-table" [dataSource]="inboxItems" matSort>

        <!-- requestDate Column -->
        <ng-container matColumnDef="requestDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Request Date</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <p class="text-truncate">{{ item.requestDate | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- lanContractId Column -->
        <ng-container matColumnDef="lanContractId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Loan Contract Id</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <p class="text-truncate">{{ item.lanContractId }}</p>
            </mat-cell>
        </ng-container>

        <!-- projectName Column -->
        <ng-container matColumnDef="projectName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <p class="text-truncate">{{ item.projectName }}</p>
            </mat-cell>
        </ng-container>

        <!-- processName Column -->
        <ng-container matColumnDef="processName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Process Name</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <p class="text-truncate">{{ item.processName }}</p>
            </mat-cell>
        </ng-container>

        <!-- requestorName Column -->
        <ng-container matColumnDef="requestorName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Requestor Name</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <p class="text-truncate">{{ item.requestorName }}</p>
            </mat-cell>
        </ng-container>

        <!-- approverName Column -->
        <ng-container matColumnDef="approverName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Approver Name</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <p class="text-truncate">{{ item.approverName }}</p>
            </mat-cell>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <p class="text-truncate">{{ item.status }}</p>
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let item; columns: displayedColumns;" matRipple (click)="onSelect(item)"
            [ngClass]="{'highlight':item === selectedItem}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>