<div class="mat-table-container" style="width: 100%">

    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

        <!-- documentType Column -->
        <ng-container matColumnDef="documentType">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Document Type</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.trustRetentionAccountStatement.documentType }}</p>
            </mat-cell>
        </ng-container>

        <!-- periodQuarter Column -->
        <ng-container matColumnDef="periodQuarter">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Quarter</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.trustRetentionAccountStatement.periodQuarter }}</p>
            </mat-cell>
        </ng-container>

        <!-- periodYear Column -->
        <ng-container matColumnDef="periodYear">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Year</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.trustRetentionAccountStatement.periodYear }}</p>
            </mat-cell>
        </ng-container>

        <!-- remarks Column -->
        <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Remarks</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.trustRetentionAccountStatement.remarks }}</p>
            </mat-cell>
        </ng-container>

        <!-- document Column -->
        <ng-container matColumnDef="document">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Document</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate"></p>
            </mat-cell>
        </ng-container>
              
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.trustRetentionAccountStatement)"
            [ngClass]="{'highlight':obj.trustRetentionAccountStatement === selectedTRAStatement}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>
</div>
