<div id="loan-enquiry" class="w-100-p p-16" fxLayout="column" fusePerfectScrollbar>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Enquiry List
            </mat-panel-title>
            <!--mat-panel-description>
                Use the search form to filter data.
            </mat-panel-description-->
        </mat-expansion-panel-header>
        <form [formGroup]="enquirySearchForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Enquiry Date From" formControlName="enquiryDateFrom">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Enquiry Date To" formControlName="enquiryDateTo">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Enquiry Number From" formControlName="enquiryNumberFrom">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Enquiry Number To" formControlName="enquiryNumberTo">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Name of the Project" formControlName="projectName">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Project Location (State)" formControlName="projectLocation">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Loan Class" formControlName="loanClass">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Project Type" formControlName="projectType">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Financing Type" formControlName="financingType">
                </mat-form-field>
                <mat-form-field fxFlex="25">
                    <input matInput placeholder="Type of Assistance" formControlName="assistanceType">
                </mat-form-field>
            </div>
            <div class="pt-12" fxLayout="row" fxLayoutAlign="left center">
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="searchEnquiries()">
                    Search
                </button>
            </div>
        </form>
    </mat-expansion-panel>
    <fuse-enquiry-search-list [enquiryList]="enquiryList"></fuse-enquiry-search-list>
</div>