<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close({ 'refresh': false })" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="padding: 16px !important;">
        <form [formGroup]="rateOfInterestDisplayForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Sanction (Pre COD)" formControlName="sanctionPreCod" readonly>          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Sanction (Post COD)" formControlName="sanctionPostCod" readonly>          
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Present ROI" formControlName="presentRoi" readonly>          
                </mat-form-field>
            </div>
        </form>
        <mat-card style="padding: 8px; background: antiquewhite;">New Rate of Interest</mat-card>
        <form [formGroup]="rateOfInterestUpdateForm" class="mt-8">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Condition Type" formControlName="conditionType" required>
                      <mat-option *ngFor="let obj of conditionTypes" [value]="obj.code">
                        {{ obj.description }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker1" placeholder="Valid From Date" formControlName="validFromDate" readonly required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-radio-group formControlName="interestTypeIndicator">
                    <mat-radio-button [value]="'0'">Fixed</mat-radio-button>
                    <mat-radio-button [value]="'1'" class="ml-16">Ref. Int Rate</mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="33" *ngIf="rateOfInterestUpdateForm.controls.interestTypeIndicator.value === '1'">
                    <mat-select placeholder="Reference Int. Rate" formControlName="referenceInterestRate" required>
                      <mat-option *ngFor="let obj of referenceInterestRates" [value]="obj.code">
                        {{ obj.description }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="34" *ngIf="rateOfInterestUpdateForm.controls.interestTypeIndicator.value === '1'">
                    <mat-select placeholder="+/- Sign Ref. Int. Rate" formControlName="refInterestSign" required>
                      <mat-option *ngFor="let obj of referenceInterestRateSigns" [value]="obj.code">
                        {{ obj.description }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input matInput placeholder="Interest Rate" formControlName="interestRate" maxlength="6" required>          
                </mat-form-field>
            </div>
            <mat-card style="padding: 8px !important; background: antiquewhite !important;">Calculation Details</mat-card>
            <div fxLayout="row" class="mt-8">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker2" placeholder="Calculation Date" formControlName="calculationDate" readonly required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                </mat-form-field>
                <mat-checkbox color="primary" formControlName="isCalculationDateOnMonthEnd" class="mt-16">
                    Month End Ind. Calc Date
                </mat-checkbox>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker3" placeholder="Due Date" formControlName="dueDate" readonly required>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker> 
                </mat-form-field>
                <mat-checkbox color="primary" formControlName="isDueDateOnMonthEnd" class="mt-16">
                    Month End Ind. Due Date
                </mat-checkbox>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Payment Frequency" formControlName="interestPaymentFrequency" maxlength="3" required>          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Payment Form" formControlName="paymentForm" required>
                      <mat-option *ngFor="let obj of paymentForms" [value]="obj.code">
                        {{ obj.description }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Interest Calc. Method" formControlName="interestCalculationMethod" required>
                      <mat-option *ngFor="let obj of interestCalculationMethods" [value]="obj.code">
                        {{ obj.description }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="_dialogRef.close({ 'refresh': false })">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
