<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>
        <form [formGroup]="rateOfInterestUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Particulars" formControlName="particulars" required>
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let obj of particulars" [value]="obj.code">
                        {{ obj.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Sanction (Pre COD)" formControlName="sanctionPreCod">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Scheduled If Any" formControlName="scheduledIfAny">          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Sanction (Post COD)" formControlName="sanctionPostCod">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Present ROI" formControlName="presentRoi" maxlength="6">          
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Free Text" formControlName="freeText" maxlength="200">          
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeClick()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
