<div class="page-layout simple right-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate h1 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center"
            *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
            Inbox
        </div>
        <!-- / BREADCRUMB -->

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end">
            <button mat-raised-button class="mr-8 mb-8" (click)="reviewTask()" [disabled]="!inboxItemsComponent.selectedItem">
                <mat-icon matSuffix class="mr-8">rate_review</mat-icon>Review
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="approveTask()" [disabled]="!inboxItemsComponent.selectedItem">
                <mat-icon matSuffix class="mr-8">check</mat-icon>Approve
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="rejectTask()" [disabled]="!inboxItemsComponent.selectedItem">
                <mat-icon matSuffix class="mr-8">clear</mat-icon>Reject
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="refreshTasks()">
                <mat-icon matSuffix class="mr-8">refresh</mat-icon>Refresh
            </button>
            <!-- <button mat-raised-button class="mr-8 mb-8" (click)="reviewEvaluation()">
                <mat-icon matSuffix class="mr-8">rate_review</mat-icon> Review Model
            </button>
            <button mat-raised-button class="mr-8 mb-8" (click)="displayAsPDF()">
                <mat-icon matSuffix class="mr-8">picture_as_pdf</mat-icon>Display PDF
            </button> -->
        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->    

    <!-- CONTENT -->
    <div class="content p-16">
        <div class="center">
            <app-inbox-items></app-inbox-items>
        </div>
    </div>
    <!-- / CONTENT -->
</div>