<div class="mat-table-container" style="width: 100%">

    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

        <!-- serialNumber Column -->
        <ng-container matColumnDef="serialNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.termsAndConditionsModification.serialNumber }}</p>
            </mat-cell>
        </ng-container>
        
        <!-- communication Column -->
        <ng-container matColumnDef="communication">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Communication</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ getCommunication(obj.termsAndConditionsModification.communication) }}</p>
            </mat-cell>
        </ng-container>

        <!-- documentType Column -->
        <ng-container matColumnDef="documentType">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Document Type</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ getDocumentType(obj.termsAndConditionsModification.documentType) }}</p>
            </mat-cell>
        </ng-container>

        <!-- remarks Column -->
        <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Remarks</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.termsAndConditionsModification.remarks }}</p>
            </mat-cell>
        </ng-container>

        <!-- borrowerRequestLetterDate Column -->
        <ng-container matColumnDef="borrowerRequestLetterDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Borrower Request Letter Date</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.termsAndConditionsModification.borrowerRequestLetterDate | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- dateofIssueofAmendedSanctionLetter Column -->
        <ng-container matColumnDef="dateofIssueofAmendedSanctionLetter">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Date of Issue of Amen. Sanction Letter</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.termsAndConditionsModification.dateofIssueofAmendedSanctionLetter | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- download Column -->
        <ng-container matColumnDef="download">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <a [href]="getFileURL(obj.termsAndConditionsModification.fileReference)" 
                        *ngIf="obj.termsAndConditionsModification.fileReference !== ''">Download</a>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.termsAndConditionsModification)"
            [ngClass]="{'highlight':obj.termsAndConditionsModification === selectedTandC}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>
</div>
