<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar style="height: 360px">
        <form [formGroup]="loanAppraisalKYCForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Serial Number" formControlName="serialNumber" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Partner Type" formControlName="partnerType" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="KYC Type" formControlName="kycType" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Status" formControlName="status" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker1" placeholder="Date of Completion" formControlName="dateOfCompletion" readonly required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Remarks" formControlName="remarks" required>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Document Name" formControlName="documentName">
                </mat-form-field>
                <div fxFlex="50">
                    <div fxLayout="column">
                        <label for="document">Upload Document (PDF)</label>
                        <input type="file" name="file" (change)="onFileSelect($event)" accept="application/pdf" id="document"/>
                        <!-- <a [href]="getFileURL(selectedLFAReportAndFee.fileReference)" *ngIf="selectedLFAReportAndFee.fileReference !== ''">
                            <mat-icon>cloud_download</mat-icon>
                        </a> -->
                    </div>
                </div>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeDialog()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
