<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>
        <form [formGroup]="loanOfficerForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Serial Number" formControlName="serialNumber" readonly>          
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Role Type" formControlName="roleType" required>
                        <mat-option *ngFor="let roleType of bupaRoleTypes" [value]="roleType.code" (click)="onBupaRoleSelect(roleType)">
                            {{ roleType.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Select Business Partner Code" formControlName="businessPartnerId" required>
                        <mat-option *ngFor="let partner of partners" [value]="partner.partyNumber" (click)="onPartnerSelect(partner)">
                            {{ partner.partyNumber }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Business Partner Code" formControlName="displayBusinessPartnerId" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Business Partner Name" formControlName="businessPartnerName" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker1" placeholder="Start Date" formControlName="startDate" readonly required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeDialog()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
