<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>
        <div fxLayout="row" class="mt-16">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="Enquiry Number" [(ngModel)]="loanApplication.enquiryNo.id" readonly>
            </mat-form-field>
        </div>
        <div fxLayout="row" class="mb-16">
            <mat-form-field fxFlex="100">
                <mat-select placeholder="Product" [(ngModel)]="productCode" required>
                    <mat-option *ngFor="let product of products" [value]="product.code">
                        {{ product.name }}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Provide valid input
                </mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions fxLayout="row">
            <button class="mr-8" mat-raised-button type="button" color="accent" (click)="approve()">
                Approve
            </button>
            <button class="mr-8" mat-raised-button type="button" color="accent" (click)="cancel()">
                Cancel
            </button>
        </div>
    </div>
</div>
