<div class="content">
    <div class="toolbar" fxLayout="row" class="mt-16 mb-16">
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateOperatingParameter('addOperatingParameter')"> 
            Add New Operating Parameter
        </button>
        <button class="mr-8 btn" mat-raised-button color="accent" (click)="updateOperatingParameter('updateOperatingParameter')" 
                [disabled]="!selectedOperatingParameter"> 
            Modify Operating Parameter
        </button>
    </div>          

    <div class="mat-table-container" mat-white-bg style="width: 100%">

        <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

            <!-- serialNumber Column -->
            <ng-container matColumnDef="serialNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.serialNumber }}</p>
                </mat-cell>
            </ng-container>

            <!-- month Column -->
            <ng-container matColumnDef="month">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Month</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.month }}</p>
                </mat-cell>
            </ng-container>
                    
            <!-- year Column -->
            <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Year</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.year }}</p>
                </mat-cell>
            </ng-container>

            <!-- exportNetGeneration Column -->
            <ng-container matColumnDef="exportNetGeneration">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Export/ Net Generation (Million Units)</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.exportNetGeneration | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- plfCufActual Column -->
            <ng-container matColumnDef="plfCufActual">
                <mat-header-cell *matHeaderCellDef mat-sort-header >PLF/CUF (Actual %age)</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.plfCufActual | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- applicableTariff Column -->
            <ng-container matColumnDef="applicableTariff">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Applicable Tarrif (Rs / Unit)</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.applicableTariff | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- revenue Column -->
            <ng-container matColumnDef="revenue">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Revenue (Rs in Lakhs)</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.revenue | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- dateOfInvoice Column -->
            <ng-container matColumnDef="dateOfInvoice">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Date of Invoice</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.dateOfInvoice | date: 'dd/MM/yyyy' }}</p>
                </mat-cell>
            </ng-container>

            <!-- dateOfPaymentReceipt Column -->
            <ng-container matColumnDef="dateOfPaymentReceipt">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Date of Payment Receipt</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.dateOfPaymentReceipt | date: 'dd/MM/yyyy' }}</p>
                </mat-cell>
            </ng-container>

            <!-- carbonDiOxideEmission Column -->
            <ng-container matColumnDef="carbonDiOxideEmission">
                <mat-header-cell *matHeaderCellDef mat-sort-header >CO2 Emission</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.carbonDiOxideEmission | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <!-- waterSaved Column -->
            <ng-container matColumnDef="waterSaved">
                <mat-header-cell *matHeaderCellDef mat-sort-header >Water Saved</mat-header-cell>
                <mat-cell *matCellDef="let obj" >
                    <p class="text-truncate">{{ obj.operatingParameter.waterSaved | number: '1.2-2' }}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            
            <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.operatingParameter)"
                [ngClass]="{'highlight':obj.operatingParameter === selectedOperatingParameter}" [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>

        </mat-table>
    </div>

    <div class="content-card mat-elevation-z4" fusePerfectScrollbar style="width: 100%">
        <fuse-operating-parameter-plf-list></fuse-operating-parameter-plf-list>
    </div>
</div>
