<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>
        <form [formGroup]="lieUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="BP Code" formControlName="bpCode" required>
                        <mat-option *ngFor="let partner of partners" [value]="partner.partyNumber" (click)="onPartnerSelect(partner)">
                          {{ partner.partyNumber }}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        Provide valid input for BP Code
                    </mat-error>                
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="BP Name" formControlName="name" [(ngModel)]="selectedPartnerName" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row" class="mt-16">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker1" placeholder="Date of Appointment" formControlName="dateOfAppointment" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker> 
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Contact Person" formControlName="contactPerson" maxlength="60" required>
                    <mat-error>
                        Provide valid input for Contact Person
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker2" placeholder="Contract Period From" formControlName="contractPeriodFrom" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker> 
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker3" placeholder="Contract Period To" formControlName="contractPeriodTo" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker> 
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <input matInput type="email" placeholder="Email" maxlength="200" formControlName="email">      
                    <mat-error>
                       Provide valid input for Email
                    </mat-error>      
                  </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeClick()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
