<div class="mat-table-container" style="width: 100%">

    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

        <!-- reportType Column -->
        <ng-container matColumnDef="reportType">
            <mat-header-cell *matHeaderCellDef mat-sort-header >ReportType</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.reportType }}</p>
            </mat-cell>
        </ng-container>

        <!-- dateOfReceipt Column -->
        <ng-container matColumnDef="dateOfReceipt">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Date Of Receipt</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.dateOfReceipt | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- invoiceDate Column -->
        <ng-container matColumnDef="invoiceDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Invoice Date</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.invoiceDate | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- invoiceNo Column -->
        <ng-container matColumnDef="invoiceNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Invoice Number</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.invoiceNo }}</p>
            </mat-cell>
        </ng-container>

        <!-- feeAmount Column -->
        <ng-container matColumnDef="feeAmount">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Fee Amount</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.feeAmount }}</p>
            </mat-cell>
        </ng-container>
        
        <!-- statusOfFeeReceipt Column -->
        <ng-container matColumnDef="statusOfFeeReceipt">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Fee Receipt Status</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.statusOfFeeReceipt == 0? 'Yes' : 'No' }}</p>
            </mat-cell>
        </ng-container>

        <!-- statusOfFeePaid Column -->
        <ng-container matColumnDef="statusOfFeePaid">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Fee Paid Status</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.statusOfFeePaid == 0? 'Yes' : 'No' }}</p>
            </mat-cell>
        </ng-container>

        <!-- documentTitle Column -->
        <ng-container matColumnDef="documentTitle">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Document Title</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.documentTitle }}</p>
            </mat-cell>
        </ng-container>

        <!-- nextReportDate Column -->
        <ng-container matColumnDef="nextReportDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Next Report Date</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lieReportAndFee.nextReportDate }}</p>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.lieReportAndFee)"
            [ngClass]="{'highlight':obj.lieReportAndFee === selectedLIEReportAndFee}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>
</div>
