<div id="tickers" class="page-layout simple" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate h1 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center"
            *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
            Alerts on Enquiry List
        </div>
        <!-- / BREADCRUMB -->

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end">
            <button class="mr-8 btn" mat-raised-button color="accent" (click)="redirectToEnquiryReview()" [disabled]="_service.selectedLoanApplicationId === undefined">
                Enquiry Review
            </button>
        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="content-card mat-white-bg mat-elevation-z4" fusePerfectScrollbar style="width: 125%'">
            <fuse-enquiry-alerts-list></fuse-enquiry-alerts-list>
        </div>
    </div>
    <!-- / CONTENT -->

</div>