<div class="mat-table-container" style="width: 100%">

    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

        <!-- advisor Column -->
        <ng-container matColumnDef="advisor">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Advisor</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ getAdvisor(obj.lendersFinancialAdvisor) }}</p>
            </mat-cell>
        </ng-container>

        <!-- bpCode Column -->
        <ng-container matColumnDef="bpCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header >BP Code</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lendersFinancialAdvisor.bpCode }}</p>
            </mat-cell>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Name</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lendersFinancialAdvisor.name }}</p>
            </mat-cell>
        </ng-container>
        
        <!-- dateOfAppointment Column -->
        <ng-container matColumnDef="dateOfAppointment">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Date Of Appointment</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lendersFinancialAdvisor.dateOfAppointment | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- contractPeriodFrom Column -->
        <ng-container matColumnDef="contractPeriodFrom">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Contract Period From</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lendersFinancialAdvisor.contractPeriodFrom | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- contractPeriodTo Column -->
        <ng-container matColumnDef="contractPeriodTo">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Contract Period To</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lendersFinancialAdvisor.contractPeriodTo | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <!-- contactPerson Column -->
        <ng-container matColumnDef="contactPerson">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Contact Person</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lendersFinancialAdvisor.contactPerson }}</p>
            </mat-cell>
        </ng-container>

        <!-- contactNumber Column -->
        <ng-container matColumnDef="contactNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Contact No</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lendersFinancialAdvisor.contactNumber }}</p>
            </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Email</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.lendersFinancialAdvisor.email }}</p>
            </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.lendersFinancialAdvisor)"
            [ngClass]="{'highlight':obj.lendersFinancialAdvisor === selectedLFA}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>
</div>
