<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>
        <form [formGroup]="traStatementUpdateForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="View Rights" formControlName="viewRights">
                      <mat-option> </mat-option>
                      <mat-option *ngFor="let viewRight of viewRights" [value]="viewRight.code">
                        {{ viewRight.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Remarks" formControlName="remarks" maxlength="100">
                </mat-form-field>
            </div>
            <div fxLayout="row" class="mt-16">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Period (Quarter)" formControlName="periodQuarter" required>
                      <mat-option *ngFor="let periodQuarter of periodQuarters" [value]="periodQuarter.code">
                        {{ periodQuarter.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Period (Year)" formControlName="periodYear" maxlength="4">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Document Type" formControlName="documentType" required>
                      <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.code">
                        {{ documentType.value }}
                      </mat-option>
                    </mat-select>
                </mat-form-field> 
                <div fxLayout="column" fxFlex="50">
                    <label for="document">Upload Document (PDF)</label>
                    <input type="file" name="file" (change)="onFileSelect($event)" accept="application/pdf" id="document"/>
                </div>
                <!-- <input type="file" name="file" (change)="onFileSelect($event)" accept="application/pdf"/> -->
            </div>

            <div fxLayout="row">
                <div fxLayout="column" fxFlex="50" class="mt-16"></div>
                <div fxLayout="column" fxFlex="50">
                    <a [href]="getFileURL(selectedTRAStatement.fileReference)" *ngIf="selectedTRAStatement.fileReference !== ''">
                        <mat-icon>cloud_download</mat-icon>
                    </a>
                </div>
            </div>
            
            <div class="mt-32" mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeClick()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
