<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-button class="mat-icon-button" (click)="_dialogRef.close()" aria-label="Close Dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content fusePerfectScrollbar>
        <form [formGroup]="traUpdateForm">
            <div fxLayout="row">
                <!-- <mat-form-field fxFlex="50">
                    <input matInput placeholder="Type Of Account" formControlName="typeOfAccount" required>
                    <mat-error>
                        Provide valid input for Type Of Account
                    </mat-error>
                </mat-form-field> -->
                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Type Of Account" formControlName="typeOfAccount" required>
                        <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.code">
                        {{ accountType.value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Contact Name" formControlName="contactName" maxlength="60">
                </mat-form-field>
            </div>
            <div fxLayout="row" class="mt-16">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Bank Key" formControlName="bankKey" maxlength="20">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="TRA Bank Name" formControlName="traBankName" maxlength="60">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Contact Number" formControlName="contactNumber" maxlength="15">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Branch" formControlName="branch" maxlength="40">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Email" formControlName="email" maxlength="200">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Address" formControlName="address" maxlength="100">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="PFS Authorised Person-BP Code" formControlName="pfsAuthorisedPersonBPCode">
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Beneficiary Name" formControlName="beneficiaryName" maxlength="60">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="PFS Authorised Person" formControlName="pfsAuthorisedPerson" readonly>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="IFSC Code" formControlName="ifscCode" maxlength="15">
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Account Number" formControlName="accountNumber" maxlength="15" required>
                    <mat-error>
                        Provide valid input for Account Number
                    </mat-error>
                </mat-form-field>
            </div>

            <div mat-dialog-actions fxLayout="row">
                <button class="mr-8" mat-raised-button type="submit" color="accent" (click)="submit()">
                    Submit
                </button>
                <button class="mr-8" mat-raised-button type="button" color="accent" (click)="closeClick()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
