<div id="tickers" class="page-layout simple" fusePerfectScrollbar>
    <!-- HEADER -->
    <div class="sub-header p-6 blue-grey-200-bg" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- BREADCRUMB -->
        <div class="breadcrumb text-truncate h1 pl-24 pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center" *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
            User Administration
        </div>
        <!-- / BREADCRUMB -->

        <!-- TOOLBAR -->
        <div class="toolbar" fxLayout="row" fxLayoutAlign="end">
            <button class="mr-8 btn" mat-raised-button color="accent" (click)="displayAddUserDialog()">
                Add User
            </button>

            <button class="mr-8 btn" mat-raised-button color="accent" (click)="displayUpdateUserDialog()"
                    [disabled]="!selectedUser.firstName">
                Edit User
            </button>

            <button class="mr-8 btn" mat-raised-button color="accent" (click)="resetPassword()"
                    [disabled]="!selectedUser.firstName">
                Reset Password
            </button>
        </div>
        <!-- / TOOLBAR -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div id="loan-enquiry" class="w-100-p p-16" fxLayout="column" fusePerfectScrollbar>
        <!--<fuse-user-list></fuse-user-list>-->
        <app-user-mgmt></app-user-mgmt>
    </div>
    <!-- CONTENT -->
</div>
