<div class="mat-table-container" style="width: 100%">

    <mat-table class="enquiries-table" [dataSource]="dataSource" matSort fusePerfectScrollbar>

        <!-- serialNumber Column -->
        <ng-container matColumnDef="serialNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Sl No.</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.serialNumber }}</p>
            </mat-cell>
        </ng-container>
        
        <!-- particulars Column -->
        <ng-container matColumnDef="particulars">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Particulars</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ getParticulars(obj.securityCompliance.collateralObjectType) }}</p>
            </mat-cell>
        </ng-container>

        <!-- qty Column -->
        <ng-container matColumnDef="qty">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Qty</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate"></p>
            </mat-cell>
        </ng-container>

        <!-- faceValue Column -->
        <ng-container matColumnDef="faceValue">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Face Value</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.securityFaceValueAmount | number: '1.2-2' }}</p>
            </mat-cell>
        </ng-container>

        <!-- percentage Column -->
        <ng-container matColumnDef="percentage">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Holding Percentage</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.holdingPercentage }}</p>
            </mat-cell>
        </ng-container>

        <!-- applicability Column -->
        <ng-container matColumnDef="applicability">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Applicability</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ getApplicability(obj.securityCompliance.applicability) }}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timelines">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Timelines</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.timelines }}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dateOfCreation">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Date of Creation</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.dateOfCreation | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="validityDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Validity Date</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.validityDate | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Value</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.value }}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="securityPerfectionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Security Perfection Date</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.securityPerfectionDate | date: 'dd/MM/yyyy' }}</p>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header >Remarks</mat-header-cell>
            <mat-cell *matCellDef="let obj" >
                <p class="text-truncate">{{ obj.securityCompliance.remarks }}</p>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let obj; columns: displayedColumns;" class="obj" matRipple (click)="onSelect(obj.securityCompliance)"
            [ngClass]="{'highlight':obj.securityCompliance === selectedSecurityCompliance}" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>
</div>
